:root {
    --body-font-family: 'Raleway';
    --green-text-color: rgb(29, 187, 29);
    --transaparent-green: rgba(96, 228, 111, 0.7); 
    --body-background: rgba(142, 203, 149, 0.1);
}

body {
	margin: 0;
	color: #fff;
	background: url("../images/backdrop-square.png");
	font-family: Nunito, Helvetica, Arial, sans-serif;
}

header {
	margin: 2rem 0;
}

main {
	background: url("../images/backdrop.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 60vh;
	top: 0;
	position: relative;
}
p {
	font-weight: 300;
}
h3 {
	font-weight: 300 !important;
}

.dotted-border {
	border: 2px dotted #fff;
	width: fit-content;
	height: 12rem;
	display: flex;
	align-items: center;
	margin: auto;
}

.medium-gap {
	justify-content: center;
	gap: 2rem;
	display: flex;
	flex-direction: column;
}

footer {
	/* position: absolute; */
	bottom: 0px;
	min-width: 100%;
	background-image: url("../images/bottom.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -4rem;
	/* background: linear-gradient(-9deg, white 50%, transparent 50%); */
}

.bottom {
	height: 5rem;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

iframe {
	width: 100%;
	min-height: 28rem;
}

.logo-img {
	width: 12rem;
}

/* VIDEO SECTION CSS */
.video-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 5px 8px rgba(35, 34, 34, 0.322);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--transaparent-green);
    border: none;
    border-radius: 1rem;
    padding: 0.4rem 2rem;
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--green-text-color);
}



@media only screen and (max-width: 768px) {
	h1 {
		font-weight: 900;
	}
	p {
		font-weight: 200;
	}
	.medium-gap {
		gap: 2rem;
	}
	.hero-section {
		align-items: flex-start;
		padding: 0px;
	}
	
  }