body {
	margin: 0;
	color: #fff;
	background: url("../images/backdrop-square.png");
	font-family: Nunito, Helvetica, Arial, sans-serif;
}

header {
	margin: 2rem 0;
}

main {
	background: url("../images/backdrop.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 60vh;
	top: 0;
	position: relative;
}
p {
	font-weight: 300;
}
h3 {
	font-weight: 300 !important;
}

.dotted-border {
	border: 2px dotted #fff;
	width: fit-content;
	height: 12rem;
	display: flex;
	align-items: center;
	margin: auto;
}

.medium-gap {
	justify-content: center;
	gap: 2rem;
	display: flex;
	flex-direction: column;
}

footer {
	/* position: absolute; */
	bottom: 0px;
	min-width: 100%;
	background-image: url("../images/bottom.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -4rem;
	/* background: linear-gradient(-9deg, white 50%, transparent 50%); */
}

.bottom {
	height: 5rem;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

iframe {
	width: 100%;
	min-height: 28rem;
}




@media only screen and (max-width: 768px) {
	h1 {
		font-weight: 900;
	}
	p {
		font-weight: 200;
	}
	.medium-gap {
		gap: 2rem;
	}
	.hero-section {
		align-items: flex-start;
		padding: 0px;
	}
	
  }