body {
	background: url("../images/background-min.png");
	background-size: contain;
	background-repeat: repeat;
	color: #fff;
	padding: 100px 0px;
}
p {
	font-weight: 300;
}
h3 {
	font-weight: 300 !important;
}

.dotted-border {
	border: 2px dotted #fff;
	width: fit-content;
	height: 300px;
	display: flex;
	align-items: center;
	margin: auto;
}

.medium-gap {
	justify-content: center;
	gap: 100px;
	display: flex;
	flex-direction: column;
}

footer {
	position: absolute;
	bottom: 0px;
	padding: 100px;
	height: 400px;
	min-width: 100%;
	background: linear-gradient(-9deg, white 50%, transparent 50%);
}





@media only screen and (max-width: 768px) {
	body {
	  text-align: center;
	  padding: 50px 0px;
	}
	h1 {
		font-weight: 900;
	}
	p {
		font-weight: 200;
	}
	.medium-gap {
		gap: 50px;
	}
	.hero-section {
		align-items: flex-start;
		padding: 0px;
	}
  }